body {
    background-color: #131313;
    margin: 0;
}
.header {
    width: 100%;
    height: 60px;
    border-bottom: #272727 1px solid;
    margin: 0 21rem 0 21rem;
}

.logo, .card, .navigation, .navigation-item {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    vertical-align: middle;
}
.logo {
    height: 59px;
    position: absolute;
    top: 0.75rem;
}
.card {
    top: 1.25rem;
    width: 214px;
    height: 59px;
    position: relative;
    margin-left: 7rem;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.navigation-item {
    padding: 0 1.5em;
}
.navigation-item a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}
.wall {
    width: 1157px;
    height: 746px;
    margin-left: 376px;
    margin-top: 14px;

    background: "https://s3-alpha-sig.figma.com/img/0a2f/624e/2698b29091e63af0fb6a12ac9d544185?Expires=1649030400&Signature=Ma3pOaovv-p91jEtS8yO-SKuTwcFeO~Eij-VwiG974~eiGh7O0uA4I1g4NYi0WDzNxH-CgYkBJud7cemS~UW3Nk8KEcBE94nQek-Chv-SFcB7Dkrp6h3C7KyVkq8QMx9gnSp6uhHkNGdpXMAjY3cIDIVy7WHR3ZbzUlgTyabfa3E5CX1GZg1sSHjRBzLItfk9hRYG6A6DiApFQ8~XeQ7hs9YAFEFPEngHczK7ZbGoioEJGdIRnhcQAFX3IsE6Vv~GUnyYKYNQnXywINhAkOWIzlKkuG9gX~k~9u3LrUCJZmBQ0EWGHFrhmbXk4CZGHlMnw8zF9juwgp8oR-z9VQWbg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA";
    opacity: 0.3;
}
.hystory{
    position: absolute;
    width: 517px;
    height: 41px;
    left: 387px;
    top: 136px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;

    color: #FFFFFF;
}
.tabletop {
    position: absolute;
    height: 23px;
    top: 222px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: inline-block;
    align-items: center;
    text-transform: uppercase;

    color: #727272;
}
.tr1 {
    position: absolute;
    width: 1146px;
    height: 53px;
    left: 387px;

    background: #131313;
    border: 1px solid #272727;
    box-sizing: border-box;
}
.td1 {
    position: absolute;
    width: 214px;
    height: 53px;
    left: 25px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

}.td2 {
    position: absolute;
    width: 214px;
    height: 53px;
    left: 315px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.td3 {
    position: absolute;
    width: 214px;
    height: 53px;
    left: 615px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.td4 {
    position: absolute;
    width: 214px;
    height: 53px;
    left: 915px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}
.arrow {
    position: absolute;
    width: 147px;
    height: 15px;
    top: 802px;
    box-sizing: border-box;
    }

.pagenum {
    position: absolute;
    width: 44px;
    height: 35px;
    top: 792px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    list-style-type: none;
    text-decoration: none;

    color: #FFFFFF;
}