body {
    width: 1920px;
    height: 2500px;
    background: #201636;
}
.flag, .program, .text1, .rectangle, .text2, .line, .rocket, .text3, .button, .bg-middle, .icon-bulb, 
.icon-diagram, .icon-solution, .icon-bulb-text, .icon-diagram-text, .icon-solution-text, .white-orange-h,
.ask, .shining, .man, .rectangle-for-man, .before-list, .arrow, .arrow-text
 {
    display: inline-block;
    position: absolute;
}
.flag {
    width: 1229px;
    height: 767px;
    margin-top: 238px;
    margin-left: 61px;
    background-image: url("../img/flag.png");
}
.program, .text3 {
    width: 670px;
    height: 113px;
    margin-top: 431px;
    margin-left: 934px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.text1 {
    width: 682px;
    height: 79px;
    margin-top: 539px;
    margin-left: 934px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.rectangle {
    margin-top: 680px;
    margin-left: 934px;
}
.text2 {
    width: 667px;
    height: 54px;
    margin-top: 689px;
    margin-left: 937px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #211637;
}
.line {
    margin-top: 792.57px;
    margin-left: 1201.13px;
}
.rocket {
    margin-top: 759px;
    margin-left: 922px;
}
.text3 {
    margin-top: 787px;
    margin-left: 1020px;
    padding: 0;
}
.button {
    margin-top: 766px;
    margin-left: 1304px;
}
.bg-middle {
    margin-top: 981px;
}
.icon-bulb {
    margin-top: 1110px;
    margin-left: 557px;
}
.icon-diagram {
    margin-top: 1110px;
    margin-left: 968px;
}
.icon-solution {
    margin-top: 1110px;
    margin-left: 1369px;
}
.icon-bulb-text, .icon-diagram-text, .icon-solution-text{
    width: 368px;
    height: 224px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;

}
.icon-bulb-text {
    margin-top: 1238px;
    margin-left: 434px;
}
.icon-diagram-text {
    margin-top: 1238px;
    margin-left: 834px;
}
.icon-solution-text {
    margin-top: 1238px;
    margin-left: 1234px;
}
.white-orange-h {
    width: 1170px;
    height: 116px;
    margin-top: 1465px;
    margin-left: 434px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}
#orange {
    color: #F09F0C;
}
.shining {
    margin-top: 1600px;
    margin-left: 239px;
    width: 599px;
    height: 599px;
}
.ask {
    margin-top: 1508px;
    margin-left: 59px;
}
.man {
    margin-top: 1581px;
    margin-left: 334px;
}
.rectangle-for-man {
    margin-top: 2077px;
    margin-left: 308px;
    width: 548px;
    height: 241px;
}
.before-list {
    margin-top: 1569px;
    margin-left: 434px;
    width: 1170px;
    height: 116px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}
.arrow {
    margin-left: 936px;
}
.arrow-text {
    margin-left: 983px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;

    color: #FFFFFF;
}